{% extends 'base.html.twig' %}

{% block body %}

<title>ACL Bréalaise - Votre profil</title>
<div class="container">
  <h1>Page profil !</h1>
  <div class="row">
    <div class="col s12">
      <div class="card light-blue darken-4">
        <div class="card-content white-text">
          <span class="card-title">Votre profil</span>
          <table class="responsive-table">
            <thead>
              <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Adresse email</th>
                  <th>Adresse complète</th>
                  <th>Téléphone portable</th>
                  <th>Téléphone fix</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{app.user.nom}}</td>
                <td>{{app.user.username}}</td>
                <td>{{app.user.email}}</td>
                <td>{{app.user.adresse}} | {{app.user.ville}} | {{app.user.cdpostal}}</td>
                <td>0{{app.user.TelephonePortable}}</td>
                <td>0{{app.user.TelephoneDomicile}}</td>
                <td>
                  <a class="waves-effect waves-light btn green darken-2" href="/inscription/edit_profil/{{app.user.id}}" ><i class="material-icons left">create</i>Modifier</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
